In [162]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [16]:
pip install plotly

Requirement already satisfied: plotly in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (5.20.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: tenacity>=6.2.0 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\cbmit\appdata\roaming\python\python312\site-packages (from plotly) (24.0)

In [29]:
pip install --upgrade nbformat

Requirement already satisfied: nbformat in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (5.10.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: fastjsonschema in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core in c:\users\cbmit\appdata\roaming\python\python312\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\cbmit\appdata\roaming\python\python312\site-packages (from nbformat) (5.14.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\cbmit\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\cbmit\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\cbmit\appdata\roaming\python\python312\site-packages (from jupyter-core->nbformat) (306)

In [2]:
import pandas as pd
import json
import os

import psycopg2

In [3]:
import plotly.express as px

In [164]:
path1="D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/aggregated/transaction/country/india/state/"
Agg_trans_list=os.listdir(path1)
clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_trans_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_qr_list=os.listdir(p_j)
        for k in Agg_qr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
              
Agg_Trans=pd.DataFrame(clm)

In [165]:
Agg_Trans['State'].unique()

array(['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
       'assam', 'bihar', 'chandigarh', 'chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
       'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
       'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
       'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
       'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
       'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
       'uttarakhand', 'west-bengal'], dtype=object)

In [166]:
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,west-bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,west-bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,west-bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,west-bengal,2023,4,Financial Services,480740,4.590073e+08
4313,west-bengal,2023,4,Others,524477,4.041567e+08

In [167]:
path2="D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/aggregated/user/country/india/state/"
Agg_user_list=os.listdir(path2)

clm2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Transaction_count':[], 'Percentage':[]}

for i in Agg_user_list:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)

    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm2['Brand'].append(brand)
                    clm2['Transaction_count'].append(count)
                    clm2['Percentage'].append(percentage)
                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quarter'].append(int(k.strip('.json')))
                
                Agg_Users=pd.DataFrame(clm2)
                
            except:
                pass

In [168]:

Agg_Users

,State,Year,Quarter,Brand,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

In [4]:
path3='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/map/transaction/hover/country/india/state/'

map_tran_list=os.listdir(path3)

clm3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in map_tran_list:
    p_i=path3+i+"/"
    map_yr=os.listdir(p_i)

    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)

        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
                name=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm3['District'].append(name)
                clm3['Transaction_count'].append(count)
                clm3['Transaction_amount'].append(amount)
                clm3['State'].append(i)
                clm3['Year'].append(j)
                clm3['Quarter'].append(int(k.strip('.json')))
            
Map_trans=pd.DataFrame(clm3)

In [5]:
Map_trans

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district,16807885,2.793986e+10

In [9]:
path4='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/map/user/hover/country/india/state/'

map_user_list=os.listdir(path4)

clm4={'State':[], 'Year':[],'Quarter':[],'District':[], 'Registered_user':[], 'App_opens':[]}

for i in map_user_list:
    p_i=path4+i+"/"
    map_yr=os.listdir(p_i)

    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)

        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverData'].items():
                district = z[0]
                registered_user = z[1]["registeredUsers"]
                app_opens = z[1]["appOpens"]
                clm4["District"].append(district)
                clm4["Registered_user"].append(registered_user)
                clm4["App_opens"].append(app_opens)
                clm4["State"].append(i)
                clm4["Year"].append(j)
                clm4["Quarter"].append(int(k.strip('.json')))
            
Map_users=pd.DataFrame(clm4)

[0               0
 1               0
 2               0
 3               0
 4               0
            ...
 17563    67224546
 17564    52281841
 17565    69991821
 17566    88292475
 17567    39079247
 Name: App_opens, Length: 17568, dtype: int64]

In [173]:
path5='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/top/transaction/country/india/state/'

top_trans_list=os.listdir(path5)

clm5={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in top_trans_list:
    p_i=path5+i+"/"
    top_yr=os.listdir(p_i)

    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)

        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                entity_name = z['entityName']
                count = z["metric"]["count"]
                amount = z["metric"]["amount"]
                clm5["Pincode"].append(entity_name)
                clm5["Transaction_count"].append(count)
                clm5["Transaction_amount"].append(amount)
                clm5["State"].append(i)
                clm5["Year"].append(j)
                clm5["Quarter"].append(int(k.strip('.json')))
            
Top_trans=pd.DataFrame(clm5)

In [174]:
Top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8562,west-bengal,2023,4,721301,4133775,5.718222e+09
8563,west-bengal,2023,4,700001,3983241,8.039689e+09
8564,west-bengal,2023,4,732125,3950411,6.557345e+09
8565,west-bengal,2023,4,700039,3742452,5.608622e+09
8566,west-bengal,2023,4,700014,3652710,6.184795e+09

In [175]:
path6='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/top/user/country/india/state/'

top_user_list=os.listdir(path6)

clm6={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Registered_user':[]}

for i in top_user_list:
    p_i=path6+i+"/"
    top_yr=os.listdir(p_i)

    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)

        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                name = z["name"]
                registered_users = z["registeredUsers"]
                clm6["Pincode"].append(name)
                clm6["Registered_user"].append(registered_users)
                clm6["State"].append(i)
                clm6["Year"].append(j)
                clm6["Quarter"].append(int(k.strip('.json')))
            
Top_user=pd.DataFrame(clm6)

In [176]:
Top_user

                          State  Year  Quarter Pincode  Registered_user
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8563                west-bengal  2023        4  700015           126663
8564                west-bengal  2023        4  742304           123320
8565                west-bengal  2023        4  721101           123088
8566                west-bengal  2023        4  700150           119283
8567                west-bengal  2023        4  700091           118578

[8568 rows x 5 columns]

In [177]:
path7="D:/PhonePe Pulse Data Visualization and Exploration/pulse/data//aggregated/insurance/country/india/state/"
Agg_state_list3=os.listdir(path7)
clm7={'State':[], 'Year':[],'Quarter':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list3:
    p_i=path7+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_qr_list=os.listdir(p_j)
        for k in Agg_qr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm7['Insurance_type'].append(Name)
              clm7['Insurance_count'].append(count)
              clm7['Insurance_amount'].append(amount)
              clm7['State'].append(i)
              clm7['Year'].append(j)
              clm7['Quarter'].append(int(k.strip('.json')))
              
Agg_Ins=pd.DataFrame(clm7)

In [178]:
Agg_Ins

,State,Year,Quarter,Insurance_type,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
533,west-bengal,2022,4,Insurance,54277,70466433.0
534,west-bengal,2023,1,Insurance,56833,77461732.0
535,west-bengal,2023,2,Insurance,49792,65204280.0
536,west-bengal,2023,3,Insurance,58131,76359312.0
537,west-bengal,2023,4,Insurance,72712,100365562.0

In [179]:
path8='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/map/insurance/hover/country/india/state/'

map_ins_list=os.listdir(path8)

clm8={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in map_ins_list:
    p_i=path8+i+"/"
    map_yr=os.listdir(p_i)

    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)

        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)

            for z in D['data']['hoverDataList']:
                name=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm8['District'].append(name)
                clm8['Transaction_count'].append(count)
                clm8['Transaction_amount'].append(amount)
                clm8['State'].append(i)
                clm8['Year'].append(j)
                clm8['Quarter'].append(int(k.strip('.json')))
            
Map_ins=pd.DataFrame(clm8)

In [180]:
Map_ins

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
10823,west-bengal,2023,4,nadia district,2786,4012958.0
10824,west-bengal,2023,4,birbhum district,1162,1720043.0
10825,west-bengal,2023,4,purba medinipur district,2507,3400040.0
10826,west-bengal,2023,4,maldah district,2886,3998317.0
10827,west-bengal,2023,4,darjiling district,2762,4044883.0

In [181]:
path9='D:/PhonePe Pulse Data Visualization and Exploration/pulse/data/top/insurance/country/india/state/'

top_ins_list=os.listdir(path9)

clm9={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in top_ins_list:
    p_i=path9+i+"/"
    top_yr=os.listdir(p_i)

    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)

        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)

            for z in D['data']['pincodes']:
                entity = z["entityName"]
                count = z["metric"]["count"]
                amount = z["metric"]["amount"]
                clm9["Pincode"].append(entity)
                clm9["Transaction_count"].append(count)
                clm9["Transaction_amount"].append(amount)
                clm9["State"].append(i)
                clm9["Year"].append(j)
                clm9["Quarter"].append(int(k.strip('.json')))
            
Top_ins=pd.DataFrame(clm9)

In [182]:
Top_ins

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2020,2,744301,3,565.0
1,andaman-&-nicobar-islands,2020,2,744104,2,513.0
2,andaman-&-nicobar-islands,2020,2,744101,1,282.0
3,andaman-&-nicobar-islands,2020,3,744112,9,3432.0
4,andaman-&-nicobar-islands,2020,3,744105,7,3948.0
...,...,...,...,...,...,...
5244,west-bengal,2023,4,700135,556,939622.0
5245,west-bengal,2023,4,700091,535,767163.0
5246,west-bengal,2023,4,700015,521,683025.0
5247,west-bengal,2023,4,700059,518,843045.0
5248,west-bengal,2023,4,711102,517,769517.0

In [183]:
Agg_Trans['State']=Agg_Trans['State'].replace('andaman-&-nicobar-islands','Andaman & Nicobar Islands')

Agg_Trans['State']=Agg_Trans['State'].str.title()
Agg_Trans['State']=Agg_Trans['State'].str.replace('-',' ')
Agg_Trans['State'].unique()

array(['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra & Nagar Haveli & Daman & Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [184]:
def format_states(datafr):
    datafr['State']=datafr['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar Islands')
    datafr['State']=datafr['State'].str.replace('-',' ')
    datafr['State']=datafr['State'].str.title()

In [185]:
format_states(Agg_Trans)
format_states(Agg_Users)
format_states(Agg_Ins)
format_states(Top_user)
format_states(Top_trans)
format_states(Top_ins)
format_states(Map_trans)
format_states(Map_ins)
format_states(Map_users)

In [3]:
db=psycopg2.connect(host='localhost',
                       user='postgres',
                       password='27112002Cbm!',
                       database='PhonePe_pulse',
                       port='5432')
cursor=db.cursor()

In [187]:

create1 = '''CREATE TABLE if not exists aggregated_transaction (State VARCHAR(100),
                                                                    Year INT,
                                                                    Quarter INT,
                                                                    Transaction_type VARCHAR(100),
                                                                    Transaction_count BIGINT,
                                                                    Transaction_amount BIGINT
                                                                    )'''
cursor.execute(create1)
db.commit()

insert1 = '''INSERT INTO aggregated_transaction (State, 
                                                Year, 
                                                Quarter, 
                                                Transaction_type, 
                                                Transaction_count, 
                                                Transaction_amount)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
data1=Agg_Trans.values.tolist()
cursor.executemany(insert1,data1)
db.commit()

In [188]:
create2 = '''CREATE TABLE if not exists aggregated_users (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            Brand VARCHAR(100),
                                                            Transaction_count BIGINT,
                                                            Percentage FLOAT
                                                            )'''
cursor.execute(create2)
db.commit()

insert2 = '''INSERT INTO aggregated_users (State,
                                            Year,
                                            Quarter,
                                            Brand,
                                            Transaction_count,
                                            Percentage)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
data2=Agg_Users.values.tolist()
cursor.executemany(insert2,data2)
db.commit()

In [189]:
create3 = '''CREATE TABLE if not exists aggregated_insurance (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            Insurance_type VARCHAR(100),
                                                            Insurance_count BIGINT,
                                                            Insurance_amount BIGINT
                                                            )'''
cursor.execute(create3)
db.commit()

insert3 = '''INSERT INTO aggregated_insurance (State,
                                            Year,
                                            Quarter,
                                            Insurance_type,
                                            Insurance_count,
                                            Insurance_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
data3=Agg_Ins.values.tolist()
cursor.executemany(insert3,data3)
db.commit()

In [190]:
create4 = '''CREATE TABLE if not exists map_transaction (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            District VARCHAR(100),
                                                            Transaction_count BIGINT,
                                                            Transaction_amount BIGINT
                                                            )'''
cursor.execute(create4)
db.commit()

insert4 = '''INSERT INTO map_transaction (State,
                                            Year,
                                            Quarter,
                                            District,
                                            Transaction_count,
                                            Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
data4=Map_trans.values.tolist()
cursor.executemany(insert4,data4)
db.commit()

In [191]:
create5 = '''CREATE TABLE if not exists map_user (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            District VARCHAR(100),
                                                            Registered_user BIGINT,
                                                            App_opens BIGINT
                                                            )'''
cursor.execute(create5)
db.commit()

insert5 = '''INSERT INTO map_user (State,
                                    Year,
                                    Quarter,
                                    District,
                                    Registered_user,
                                    App_opens)
                                            
                                    values(%s,%s,%s,%s,%s,%s)'''
data5=Map_users.values.tolist()
cursor.executemany(insert5,data5)
db.commit()

In [192]:
create6 = '''CREATE TABLE if not exists map_insurance (State VARCHAR(100),
                                                        Year INT,
                                                        Quarter INT,
                                                        District VARCHAR(100),
                                                        Transactional_count BIGINT,
                                                        Transactional_amount BIGINT
                                                        )'''
cursor.execute(create6)
db.commit()

insert6 = '''INSERT INTO map_insurance (State,
                                    Year,
                                    Quarter,
                                    District,
                                    Transactional_count,
                                    Transactional_amount)
                                            
                                    values(%s,%s,%s,%s,%s,%s)'''
data6=Map_ins.values.tolist()
cursor.executemany(insert6,data6)
db.commit()

In [194]:
create7 = '''CREATE TABLE if not exists top_transaction (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            Pincode INT,
                                                            Transaction_count BIGINT,
                                                            Transaction_amount BIGINT
                                                            )'''
cursor.execute(create7)
db.commit()

insert7 = '''INSERT INTO top_transaction (State,
                                    Year,
                                    Quarter,
                                    Pincode,
                                    Transaction_count,
                                    Transaction_amount)
                                            
                                    values(%s,%s,%s,%s,%s,%s)'''
data7=Top_trans.values.tolist()
cursor.executemany(insert7,data7)
db.commit()

In [197]:
create8 = '''CREATE TABLE if not exists top_user (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            Pincode BIGINT,
                                                            Registered_count BIGINT
                                                            )'''
cursor.execute(create8)
db.commit()

insert8 = '''INSERT INTO top_user (State,
                                    Year,
                                    Quarter,
                                    Pincode,
                                    Registered_count)
                                            
                                    values(%s,%s,%s,%s,%s)'''
data8=Top_user.values.tolist()
cursor.executemany(insert8,data8)
db.commit()

In [198]:
create9 = '''CREATE TABLE if not exists top_insurance (State VARCHAR(100),
                                                            Year INT,
                                                            Quarter INT,
                                                            Pincode INT,
                                                            Transaction_count BIGINT,
                                                            Transaction_amount BIGINT
                                                            )'''
cursor.execute(create9)
db.commit()

insert9 = '''INSERT INTO top_insurance (State,
                                    Year,
                                    Quarter,
                                    Pincode,
                                    Transaction_count,
                                    Transaction_amount)
                                            
                                    values(%s,%s,%s,%s,%s,%s)'''
data9=Top_ins.values.tolist()
cursor.executemany(insert9,data9)
db.commit()

In [5]:
cursor.execute(f'''select district , sum(transactional_count) as Total_Count, sum(transactional_amount) as Total_amount from map_insurance 
                                group by district order by Total_amount desc limit 10''')
df = pd.DataFrame(cursor.fetchall(), columns=['District', 'Transactions_Count','Total_Amount'])

df

                      District Transactions_Count Total_Amount
0     bengaluru urban district             760201    907881888
1                pune district             276440    328603628
2               thane district             186024    200143122
3          rangareddy district             141188    179983062
4     mumbai suburban district             146084    150576200
5  medchal malkajgiri district             123109    148117802
6             chennai district             142201    142604881
7              jaipur district             112908    138958725
8           ernakulam district              92339    136581937
9           hyderabad district             122954    132720017

AttributeError: module 'plotly' has no attribute 'choropleth'

In [11]:
df

                                       state  active cases
0                          Andaman & Nicobar            47
1                             Andhra Pradesh         18159
2                          Arunachal Pradesh           387
3                                      Assam          6818
4                                      Bihar          7549
5                                 Chandigarh           164
6                               Chhattisgarh          1260
7   Dadra and Nagar Haveli and Daman and Diu           179
8                                      Delhi         17407
9                                        Goa          1272
10                                   Gujarat         11289
11                                   Haryana          5495
12                          Himachal Pradesh           382
13                           Jammu & Kashmir          5488
14                                 Jharkhand          2069
15                                 Karnataka         30661
16                                    Kerala          5376
17                                    Ladakh           176
18                            Madhya Pradesh          5562
19                               Maharashtra        114947
20                                   Manipur           635
21                                 Meghalaya           309
22                                   Mizoram           112
23                                  Nagaland           525
24                                    Odisha          4436
25                                Puducherry           774
26                                    Punjab          2587
27                                 Rajasthan          6666
28                                    Sikkim           155
29                                Tamil Nadu         46717
30                                 Telangana         13327
31                                   Tripura           676
32                               Uttarakhand           937
33                             Uttar Pradesh         15720
34                               West Bengal         13679